<html>
<head th:replace="~{base :: head}"></head>
	<body>
		<div class="container">
			<div class="card-fluid">
				<h1>Café da Manhã</h1>
			</div>
		</div>
		<div class="container">
			<div class="card mb-4">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item"><a class="nav-link active"
							aria-current="true" href="/home">O que você vai trazer?</a></li>
						<li class="nav-item"><a class="nav-link" href="/breakfastList">Veja o
								que já temos</a></li>
					</ul>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-8 mb-3">
							<form class="card-body" action="/home" method="POST">
								<div class="form-group">
									<label for="nome">Nome:</label>
									<input class="form-control shadow p-2 mb-3 bg-body rounded" name="nome"	placeholder="qual o seu nome?" required/>
									<small>Informe por favor o seu nome.</small>
								</div>
								<div class="form-group mt-3">
									<label for="cpf">CPF:</label>
									<input class="form-control shadow p-2 mb-3 bg-body rounded" name="cpf" placeholder="qual o seu cpf? Ex: 000.000.000-00" maxlength="14" required/>
									<small>Informe por favor o seu CPF.</small>
								</div>
								<div class="form-group mt-3 ">
									<label for="item">Item:</label> 
									<input class="form-control shadow p-2 mb-3 bg-body rounded" name="item"	placeholder="o que levará para o café da manhã?" required/>
									<small>Informe por favor qual item levará para o café da manhã.</small>
								</div>
								<div class="mt-5">
									<button type="submit" class="btn btn-primary btn-lg">Eu vou!</button>
								</div>
							</form>
						</div>
						<div class="col-12 col-sm-12 col-md-4">
							<div>
								<img src="chef.jpg" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
